FileProcessor.Core.Configuration/FileProcessorConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:FileProcessor.Core.Configuration" elementFormDefault="qualified" targetNamespace="urn:FileProcessor.Core.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FileProcessor" type="tns:FileProcessor.Core.Configuration.FileProcessorSectionCT" />
	<xs:complexType name="FileProcessor.Core.Configuration.FileProcessorSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="processModules" type="tns:FileProcessor.Core.Configuration.ProcessModuleCollectionCT">
				<xs:annotation>
					<xs:documentation>The ProcessModules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FileProcessor.Core.Configuration.ProcessModuleElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="watchDirectory" type="tns:FileProcessor.Core.Configuration.DirectoryElementCT">
				<xs:annotation>
					<xs:documentation>The WatchDirectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="processingDirectory" type="tns:FileProcessor.Core.Configuration.DirectoryElementCT">
				<xs:annotation>
					<xs:documentation>The ProcessingDirectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="successDirectory" type="tns:FileProcessor.Core.Configuration.DirectoryElementCT">
				<xs:annotation>
					<xs:documentation>The SuccessDirectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="failureDirectory" type="tns:FileProcessor.Core.Configuration.DirectoryElementCT">
				<xs:annotation>
					<xs:documentation>The FailureDirectory.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assemblyPath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fileMask" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FileMask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileProcessor.Core.Configuration.DirectoryElementCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Path to directory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isRelative" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsRelative.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FileProcessor.Core.Configuration.ProcessModuleCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="processModule" type="tns:FileProcessor.Core.Configuration.ProcessModuleElementCT">
				<xs:annotation>
					<xs:documentation>The ProcessModuleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FileProcessor.Core.Configuration.ProcessModuleCollectionRemoveCT">
				<xs:attribute name="id" use="required" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Id.</xs:documentation>
				</xs:annotation>
				</xs:attribute>
		</xs:complexType>
	<xs:complexType name="FileProcessor.Core.Configuration.ProcessModuleCollectionClearCT" />
</xs:schema>
